spring-multi/custom-tag/src/main/resources/META-INF/person.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema
    xmlns="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.software.com/schema/person"
    xmlns:tns="http://www.software.com/schema/person"
    elementFormDefault="qualified"
>
    <element name="person">
        <complexType>
            <attribute name="id" type="string"/>
            <attribute name="name" type="string"/>
            <attribute name="age" type="integer"/>
            <attribute name="address" type="string"/>
        </complexType>
    </element>

</schema>